<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
<div class="panel panel-primary" *ngIf="employee">
    <div class="panel-heading">
        <h3 class="panel-title">{{panelTitle}}</h3>
    </div>
    <div class="panel-body ">

        <!-- Full Name -->
        <div class="form-group"
                [class.has-error]="name.invalid && name.touched"
                [class.has-success]="name.valid">
            <label for="name" class="control-label">Full Name</label>
            <input required type="text" id="name" class="form-control"
                    name="name" [(ngModel)]="employee.name" #name="ngModel">
            <span class="help-block" *ngIf="name.invalid && name.touched">Full name is required</span>
        </div>

        <!-- DOB -->
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" id="dateOfBirth" class="form-control" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth">
        </div>

        <!-- Gender -->
        <div class="form-group"
                [class.has-error]="gender.touched && gender.invalid">
            <label class="control-label">Gender</label>
            <div class="form-control">
                <label class="radio-inline">
                    <input required type="radio" value="Male"
                            name="gender" [(ngModel)]="employee.gender" #gender="ngModel">Male
                </label>
                <label class="radio-inline">
                    <input required type="radio" value="Female"
                            name="gender" [(ngModel)]="employee.gender" #gender="ngModel">Female
                </label>
            </div>
            <span class="help-block" *ngIf="gender.errors?.required && gender.touched">Gender is required</span>
        </div>

        <!-- Contact Preference -->
        <div class="form-group"
                [class.has-error]="gender.touched && contactPreference.invalid">
            <label class="control-label">Contact Preference</label>
            <div class="form-control">
                <label class="radio-inline">
                    <input type="radio" value="Email"
                            name="contactPreference" [(ngModel)]="employee.contactPreference" #contactPreference="ngModel">Email
                </label>
                <label class="radio-inline">
                    <input type="radio" value="Phone"
                            name="contactPreference" [(ngModel)]="employee.contactPreference" #contactPreference="ngModel">Phone
                </label>
            </div>
            <span class="help-block" *ngIf="contactPreference.errors?.required">Contact preference is required</span>
        </div>

        <!-- Email -->
        <div class="form-group"
                    [class.has-error]="email.invalid">
            <label for="email" class="control-label">Email</label>
            <input [required]="contactPreference.value=='Email'"  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text" id="email" class="form-control"
                    name="email" [(ngModel)]="employee.email" #email="ngModel">
            <span class="help-block" *ngIf="email.errors?.required">Email address is required</span>
            <span class="help-block" *ngIf="email.errors?.pattern">Please enter a valid email</span>
        </div>

        <!-- Phone Number -->
        <div class="form-group"
                [class.has-error]="phoneNumber.invalid">
            <label for="phoneNumber" class="control-label">Phone Number</label>
            <input [required]="contactPreference.value=='Phone'"  type="text" id="phoneNumber" class="form-control"
                    name="phoneNumber" [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel">
            <span class="help-block" *ngIf="phoneNumber.errors?.required">Phone number is required</span>
        </div>
        
        <!-- Department -->
        <div class="form-group" [class.has-error]="department.touched && department.invalid">
            <label for="department" class="control-label">Department</label>
            <select  appSelectValidator="select" id="department" class="form-control"
                    name="department" [(ngModel)]="employee.department" #department="ngModel">
                <option value="select">Select Department</option>
                <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
            </select>
            <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">Department is required</span>
        </div>

        <!-- Photo -->
        <div class="form-group">
            <label for="photoPath">Upload a Photo</label>
            <input type="text" id="photoPath" class="form-control" name="photoPath" [(ngModel)]="employee.photoPath">
        </div>

        <!-- Show Preview Button -->
        <div class="form-group" *ngIf="employee.photoPath !== '' && employee.photoPath !== null">
            <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
                {{previewPhoto? "Hide": "Show"}} Preview
            </button>
        </div>

        <!-- Image -->
        <div class="form-group">
            <img [src]="employee.photoPath" height="200" width="200"
                    *ngIf="previewPhoto && employee.photoPath !== '' && employee.photoPath !== null">
        </div>

        <!-- Is Active -->
        <div class="form-group">
            <div class="form-control">
                <label class="checkbox-inline control-label">
                    <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" #isActive="ngModel">Is Active
                </label>
            </div>
            <span class="help-block" *ngIf="isActive.touched && isActive.errors?.required">Is Active is required</span>
        </div>

        <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" appConfirmEqualValidator #passwordGroup="ngModelGroup"
                [class.has-error]="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">

            <!-- Password -->
            <div class="form-group"
                        [class.has-error]="password.touched && password.invalid">
                <label for="password" class="control-label">Password</label>
                <input required type="text" id="password" class="form-control"
                        name="password" [(ngModel)]="employee.password" #password="ngModel">
                <span class="help-block" *ngIf="password.touched && password.errors?.required">Password is required</span>
            </div>
            
            <!-- Confirm Password -->
            <div class="form-group"
                    [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                <label for="confirmPassword" class="control-label">Confirm Password</label>
                <input required type="text" appConfirmEqualValidator="password" id="confirmPassword" class="form-control"
                        name="confirmPassword" [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
                <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password</span>
                <span class="help-block" *ngIf="confirmPassword.touched && passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">Passwords do not match</span>
            </div>

        </div>

    </div>
    <!-- Submit Button -->
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
</div>
</form>

Angular Generated Form Model: {{employeeForm.value | json}}
<br><br>
Our Employee Model: {{employee | json}}